body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    left: 0px
}

header {
    background-color: #212a8c;
    padding: 0.5em 1em;
}

section {
    display:block;
    width: 600px;
    margin: auto;
}

li {
    height: 23px;
    background-color: orange;
}

completedLi {
    height: 23px;
    background-color: green;
}

h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.deleteButton {
    background-color: #212a8c;
    color: #ffffff;
    float: right;
}

.editButton {
    background-color: #f98f25;
    color: #000000;
    float: right;
}

.completeButton {
    background-color : green;
    color: #ffffff;
    float: right;
}
.submitButton {
    float: right;
}

.cancelButton {
    float: right;
}

.completedTodo{
    background-color : green;
}

.uncompletedTodo{
    background-color : orange;
}


form {
    display: inline;
    height: 100%
}

text {
    width : 80%;
}