body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    left: 0px
}

header {
    background-color: #212a8c;
    padding: 0.5em 1em;
}
counterLabel {
    margin: auto;
    position: center;
    width: 600px;
}

section {
    display: block;
    width: 600px;
    margin: auto;
}
ul {
    list-style-position: inside;
    padding: 0px;
}
li {
    height: 28px;
}

.item{
    display: inline-block;
    background-color: orange;
    height: 23px;
}

h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.shadow {
  -moz-box-shadow:    2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow:         2px 2px 2px 0px #000000;
}

.button{
      display: inline-block;
      margin: 0px 2px 0px 2px;
      padding: 2px 8px;
      font-size: 16px;
      font-family: "Lato",Helvetica, Arial, sans-serf;
      line-height: 1.0;
      appearance: none;
      box-shadow: none;
      border: 0
}

.deleteButton {
    background-color: #2980B9;
    color: #ffffff;
    float: right;
}
.deleteButton:hover {
    background-color: #3498DB;
}

.editButton {
    background-color: #D35400;
    color: #ffffff;
    float: right;
}
.editButton:hover{
    background-color: #E67E22;
}

.completeButton {
    background-color : #09a74c;
    color: #ffffff;
    float: right;
}
.completeButton:hover{
    background-color : #2ECC71;
}
.submitButton {
}

.cancelButton {
}

.completedTodo{
    background-color : #09a74c ;
    color: white;
}

.uncompletedTodo{

}

.activeFilter {
    background-color : #2980B9;
    color: white;
}

#deleteCompletedButton{
    background-color : green;
}

form {
    display: inline;
    height: 100%
}

.repeated-item {
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
}

.repeated-item.ng-enter {
    opacity: 0;
}

.repeated-item.ng-enter.ng-enter-active{
    opacity: 1;
}

.repeated-item.ng-leave {
    opacity: 1;
}

.repeated-item.ng-leave-active {
    opacity: 0;
}

